
        <div class="containcenter">
<h3><img src="<%= @query_results %>" class="img-polaroid"></h3>
<form action="/images_results" method="get">
<input type="hidden" value="<%= @query %>" name="name" opacity="0">

<button class="btn btn-default"><i class="icon-search icon-white"></i> Search Again</button>
</div>