
        <div class="containcenter">
<h5 text>Please enter keyword to search for.</h5>
<p>
<form class="form-search" action="/images_results" method="get">
<input type="text" name="name">
	
	
	<button class="btn btn-default"><i class="icon-search icon-white"></i> Search</button>

</form>	</p>
</div>