
<h4 class ="text-center">Hello, Welcome to UtiliApp</h4> 

<p>This is an app built in Sinatra that allows you to:</p>
<ul class="indexlist">
<li class="indexlist">Look up information about your favorite movies.</li>
<li>Check out stock quotes</li>
<li>Search for images</li>
</ul>	