
        <div class="containcenter">
<h5>Please enter a movie title.</h5>

<form class="form-search form-horizontal" action="/movie_results"  method="get">
<input type="text" name="name">
	
	<button class="btn btn-default"><i class="icon-search icon-white"></i> Search</button>


</form>	


</div>


